body {
  padding-top: 85px;
}

.header {
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  z-index: 999;
}

.greeting .container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}